.pw-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 400px;
}

.pw-row {
    display: flex;
    flex-direction: column;
}

.pw-submit {
    margin-top: 10px;
    padding-bottom: 3px;
    cursor: pointer;
}

.success-message {
    color: green;
    margin-top: 10px;
}

.error-message {
    color: red;
    margin-top: 10px;
}
